*,:after,:before{box-sizing:border-box}
html{-moz-tab-size:4;-o-tab-size:4;tab-size:4}
html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0}
body{font-family:system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"}
h1,h2,h3,h4,h5,h6,p{margin:0}
*,:after,:before{box-sizing:border-box;border-width:0;border-style:solid;border-color:currentColor}
img{border-style:solid}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}
a{color:inherit;text-decoration:inherit}
img,object,svg{display:block}
/*img{max-width:100%;height:auto}*/
*,:after,:before{--tw-border-opacity:1;border-color:rgba(229,231,235,var(--tw-border-opacity))}
.invisible{visibility:hidden}
.group:hover .group-hover\:visible{visibility:visible}
.absolute{position:absolute}
.relative{position:relative}
.top-1{top:.25rem}
.right-0{right:0}
.mx-auto{margin-left:auto;margin-right:auto}
.mb-3{margin-bottom:.75rem}
.mb-auto{margin-bottom:auto}
.flex{display:flex}
.h-6{height:1.5rem}
.h-24{height:6rem}
.min-h-screen{min-height:100vh}
.w-6{width:1.5rem}
.w-24{width:6rem}
.hover\:w-16:hover{width:4rem}
.flex-1{flex:1 1 0%}
.flex-grow{flex-grow:1}
.transform{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;transform:translate(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}
.hover\:-translate-y-1:hover{--tw-translate-y:-.25rem}
.active\:translate-y-1:active{--tw-translate-y:.25rem}
@-webkit-keyframes spin{to{transform:rotate(360deg)}}
@keyframes spin{to{transform:rotate(360deg)}}
@-webkit-keyframes ping{75%,to{transform:scale(2);opacity:0}}
@keyframes ping{75%,to{transform:scale(2);opacity:0}}
@-webkit-keyframes pulse{50%{opacity:.5}}
@keyframes pulse{50%{opacity:.5}}
@-webkit-keyframes bounce{0%,to{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}
50%{transform:none;-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}
@keyframes bounce{0%,to{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}
50%{transform:none;-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}
.animate-pulse{-webkit-animation:pulse 2s cubic-bezier(.4,0,.6,1) infinite;animation:pulse 2s cubic-bezier(.4,0,.6,1) infinite}
.group:hover .group-hover\:animate-bounce-fast{-webkit-animation:bounce .7s infinite;animation:bounce .7s infinite}
.flex-col{flex-direction:column}
.justify-center{justify-content:center}
.space-x-3>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-right:calc(.75rem * var(--tw-space-x-reverse));margin-left:calc(.75rem * calc(1 - var(--tw-space-x-reverse)))}
.space-x-10>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-right:calc(2.5rem * var(--tw-space-x-reverse));margin-left:calc(2.5rem * calc(1 - var(--tw-space-x-reverse)))}
.rounded-full{border-radius:9999px}
.border-2{border-width:2px}
.border-white{--tw-border-opacity:1;border-color:rgba(255,255,255,var(--tw-border-opacity))}
.bg-red-300{--tw-bg-opacity:1;background-color:rgba(252,165,165,var(--tw-bg-opacity))}
.bg-green-600{--tw-bg-opacity:1;background-color:rgba(255,0,0,var(--tw-bg-opacity))}
/*.bg-green-600{--tw-bg-opacity:1;background-color:rgba(5,150,105,var(--tw-bg-opacity))}*/
.bg-paper{--tw-bg-opacity:1;background-color:rgba(245,245,245,var(--tw-bg-opacity))}
.fill-current{fill:currentColor}
.stroke-current{stroke:currentColor}
.hover\:stroke-current:hover{stroke:currentColor}
.object-cover{-o-object-fit:cover;object-fit:cover}
.py-16{padding-top:4rem;padding-bottom:4rem}
.pt-4{padding-top:1rem}
.pt-6{padding-top:1.5rem}
.text-center{text-align:center}
.align-text-top{vertical-align:text-top}
.text-sm{font-size:.875rem;line-height:1.25rem}
.text-2xl{font-size:1.5rem;line-height:2rem}
.font-bold{font-weight:700}
.text-white{--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity))}
.text-gray-400{--tw-text-opacity:1;color:rgba(156,163,175,var(--tw-text-opacity))}
.text-gray-500{--tw-text-opacity:1;color:rgba(107,114,128,var(--tw-text-opacity))}
.text-red-500{--tw-text-opacity:1;color:rgba(239,68,68,var(--tw-text-opacity))}
.text-yellow-600{--tw-text-opacity:1;color:rgba(217,119,6,var(--tw-text-opacity))}
.text-blue-500{--tw-text-opacity:1;color:rgba(59,130,246,var(--tw-text-opacity))}
.hover\:text-gray-500:hover{--tw-text-opacity:1;color:rgba(107,114,128,var(--tw-text-opacity))}
*,:after,:before{--tw-shadow:0 0 #0000}
.shadow-2xl{--tw-shadow:0 25px 50px -12px rgba(0, 0, 0, .25);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
*,:after,:before{--tw-ring-inset:var(--tw-empty, );--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(59, 130, 246, .5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000}
.transition-width{transition-property:width;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}
.transition-visibility{transition-property:visibility;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}
.delay-75{transition-delay:75ms}
.duration-700{transition-duration:.7s}
