<footer>
    <div class="container">
        <div class="social-links" style="color: var(--primary);">
            <a href="https://github.com/yasserbdj96">GitHub</a>	&#10570;	
            <a href="https://www.instagram.com/yasserbdj96">Instagram</a>	&#10570;	
            <a href="https://twitter.com/yasserbdj96">Twitter</a>	&#10570;	
            <a href="https://www.youtube.com/@yasserbdj96">Youtube</a>
        </div>
        <p>&copy; 2023 Your Name. All rights reserved.</p>
    </div>
</footer>