<nav>
    <div class="container">
        <a href="/" class="logo">
            <img class="nav-desktop" src="static/img/logo.svg" alt="yasserbdj96 logo" class="logo">
        </a>
        <a href="/" class="logo">
            <img class="nav-mobile" src="static/img/icon.svg" alt="yasserbdj96 icon" class="logo">
        </a>
        
        <button class="hamburger" aria-label="Menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="nav-links">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="blog.html">Blog</a>
            <a href="contact.html">Contact</a>
        </div>
    </div>
</nav>